@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap');

.gabarito-normal {
    font-family: "Gabarito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
  }

body {
    font-family: "Gabarito", sans-serif;
    font-weight: 400;
    color: #001e60;
    background-color: #eeeeee;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #001e60;
    border-radius: 16px;
    position: fixed;
    width: calc(100% - 170px) !important; 
    top: 10px;
    left: 160px;
    font-family: "Gabarito", sans-serif;
    font-weight: 500;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #b5179e;
    color: #ffffff;
}

.menubar-active {
    background-color: #7209b7;
}

.menubar-logo {
    margin-top: 6px;
    position: fixed;
}

.announce-large {
    font-size: 60px;
    font-weight: 900;
    color: #001e60;
    display: flex;
    height: 400px;
    width: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.column {
    float: left;
    width: 25%;
    height: auto;
}
  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
    align-items: center;
    justify-content: center;
    display: flex;
}

.row {
    align-items: center;
    justify-content: center;
    display: flex;
}

.row-header {
    font-family: "Gabarito", sans-serif;
    font-weight: 500;
    font-size: 32px;
    color: #ffffff;
}

.row-text {
    font-family: "Gabarito", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #ffffff;
}

.image-circle-1 {
    border-radius: 50%;
    width: 240px;
    height: 240px;
    margin: 0 auto;
    display: block;
    border: 6px solid #560bad;
}

.image-circle-2 {
    border-radius: 50%;
    width: 240px;
    height: 240px;
    margin: 0 auto;
    display: block;
    border: 6px solid #7209b7;
}

.image-circle-3 {
    border-radius: 50%;
    width: 240px;
    height: 240px;
    margin: 0 auto;
    display: block;
    border: 6px solid #b5179e;
}

.spacing-20px {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer {
    position: fixed;
    bottom: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.dot1 {
    height: 25px;
    width: 25px;
    background-color: #560bad;
    border-radius: 50%;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

.dot2 {
    height: 25px;
    width: 25px;
    background-color: #7209b7;
    border-radius: 50%;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

.dot3 {
    height: 25px;
    width: 25px;
    background-color: #b5179e;
    border-radius: 50%;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}