@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap');

.gabarito-normal {
    font-family: "Gabarito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
  }

body {
    font-family: "Gabarito", sans-serif;
    font-weight: 400;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #001e60;
    border-radius: 16px;
    position: fixed;
    width: calc(100% - 170px) !important; 
    top: 10px;
    left: 160px;
    font-family: "Gabarito", sans-serif;
    font-weight: 500;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #b5179e;
    color: #ffffff;
}

.menubar-active {
    background-color: #7209b7;
}

.menubar-logo {
    margin-top: 6px;
}